@{
    ViewData["Title"] = "Home Page";
}
<style>
    .findApt {
        background-color: #C8E0E8;
        display: flex;
        flex-direction: column;
        width: 10em;
        height: 10em;
        border: solid 5px;
    }
</style>

<h1>Home page</h1>

<a href="@Url.Action("Index", "Apartment")">
    <div class="findApt">
        Publish apartment
    </div>
</a>

<a href="@Url.Action("Index", "Home")">
    <div class="findApt">
        Search apartment
    </div>
</a>