@model RoomateApp.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .primaryButton {
        background-color: #7454a5;
        display: flex;
        flex-direction: row;
        width: 15em;
        height: 4em;
        border: solid 0.3em #834898;
        border-radius: 1em;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5em;
        font-weight: 700;
    }

    .secondaryButton {
        background-color: #fbce47;
        display: flex;
        flex-direction: row;
        width: 12em;
        height: 3.5em;
        border: solid 0.3em #f1be27;
        border-radius: 0.8em;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.3em;
        font-weight: 700;
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50vh;
    }
</style>

@{
    if (Model != null && Model.Id > 0)
    {
        <h1>@Html.Raw($"Hi {Model.FirstName} {Model.LastName}")</h1>
        <div class="buttonGroup">
            <a href="@Url.Action("Index", "UserPref", new { userId = Model.Id })">
                <div class="primaryButton">
                    Find Apartments
                </div>
            </a>
            <a href="@Url.Action("Index", "Apartment", new { userId = Model.Id })">
                <div class="secondaryButton">
                    Publish apartment
                </div>
            </a>
        </div>
    }
    else
    {
        <a href="@Url.Action("Index", "Account")">Sign in</a>
    }
}